.logement {
  margin-top: 30px;
}

.infos-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.infos-left h1 {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 36px;
  color: #ff6060;
  margin-top: 30px;
margin-bottom: 0%;


}

.infos-left p {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
  margin: 5px 0 0;

  
  

}

.tags {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.tags span {
  background: #ff6060;
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 14px;
  border-radius: 10px;
  padding: 5px 30px;
}

.host {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 24px;
  margin-bottom: 21px;
}

.host span {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #ff6060;
  text-align: right;
  max-width: 100px;
}

.host img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

.collapses {
  display: flex;
  gap: 76px;
  margin-top: 24px;
}

.collapses .collapse {
  flex: 1;
  margin-top: 0;
}

.rating {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 15px;
}

.rating i {
  font-size: 24px;
}

@media (max-width: 768px) {
  .infos-header {
    flex-direction: column;
  }
  .infos-left h1 {
    font-size: 18px;
    margin-top: 15px;
  }
  .infos-left p {
    font-size: 14px;
  }
  .tags span {
    font-size: 10px;
    padding: 3px 20px;
  }
  .infos-right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
  }
  .host {
    margin: 0;
  }
  .host span {
    font-size: 12px;
  }
  .host img {
    width: 32px;
    height: 32px;
  }
  .rating {
    margin-top: 0;
  }
  .rating i {
    font-size: 18px;
  }
  .collapses {
    flex-direction: column;
    gap: 20px;
  }
}
