.apropos {
  margin-top: 30px;
}

.apropos-collapses {
  width: 80%;
  margin: 0 auto;
}

.apropos-collapses .collapse {
  margin-top: 30px;
}

@media (max-width: 768px) {
  .apropos-collapses {
    width: 100%;
  }
  .apropos-collapses .collapse {
    margin-top: 15px;
  }
}
