
.container-1{
    
    margin-top: 45px;
    margin-left: 100px;
    margin-right: 100px;
   


}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.nav{
    display: flex;
    list-style-type: none;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 24px;
    line-height: 143%;
    letter-spacing: 0%;
    text-align: right;
    vertical-align: bottom;
    margin-left: 57px;
    margin-top: 17px;
    margin-bottom: 17px;

}
.nav li:nth-child(1) {
   margin-right: 57px;
  }