.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  background: #f7f7f7;
  border-radius: 25px;
  padding: 56px;
}

@media (max-width: 768px) {
  .gallery {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 0;
    background: transparent;
  }
}
